@import '../../styles/base.scss';

.faq {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #E7E5D1;
    background-image: url("../../assets/images/website_texture.png");
    background-repeat: repeat;

    .heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 4rem $desktop-padding 3.75rem;

        img {
            width: 35vw;
            object-fit: contain;
            padding-top: 2rem;
        }
    }

    @media only screen and (max-width: $mobile) {
        .heading {
            padding: 2rem $mobile-padding 1rem;

            img {
                width: 35vw;
                margin-bottom: 0.5rem;
            }
        }
    }
}



