@import "../../styles/base.scss";

.showcase {
  background: $primary-color;
  padding: 120px;
  @media only screen and (max-width: 1024px) {
    padding: 60px;
  }
  @media only screen and (max-width: $mobile) {
    padding: 30px;
  }
  overflow-x: hidden;
}

.showcase__illustration__box {
  box-sizing: border-box;

  aspect-ratio: 1 / 1;
  position: relative;
  border: 2px solid $secondary-color;
  margin: -1px;
}
.showcase__illustration__box__wrapper {
  display: flex;
  height: 100%;
  width: 0;
  position: relative;
}

.showcase__header {
  display: flex;
  color: $secondary-color;
  gap: 30px;
  @media only screen and (max-width: $mobile) {
    gap: 10px;
  }
  h2 {
    display: inline-block;
    text-align: center;
    color: $secondary-color;
    position: relative;
    &::before {
      content: "";
      display: block;
      margin-top: -0.2em;
    }

    &::after {
      content: "";
      display: block;
      margin-bottom: 0.2em;
    }
  }
}

.showcase__header__illustration {
  flex-grow: 1;
  position: relative;
}

.showcase__header__illustration__inner {
  width: 0;
  position: absolute;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.showcase__header__illustration--left > * {
  right: 0;
  transform: scaleX(-1);
}

.showcase__header__illustration--right > * {
  left: 0;
}

.showcase__teams {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  row-gap: 120px;
  margin: 120px auto;

  @media only screen and (max-width: 1024px) {
    margin: 60px auto;
  }
  @media only screen and (max-width: $mobile) {
    margin: 30px auto;
  }

  @media only screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
  }
  @media only screen and (max-width: $mobile) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
}

.showcase__team {
  text-align: justify;

  h3 {
    font-size: 24px;
    margin: 20px 0 14px 0;
    color: $secondary-color;
    font-family: $p-font;
  }
  p {
    font-size: 20px;
    color: $secondary-color;
  }
}

.showcase__team__photo {
  background: blue;
  width: 100%;
  position: relative;
  display: block;
  &::before {
    content: "";
    display: block;
    position: relative;
    padding-top: 100%;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: green;
    width: 50px;
    height: 50px;

    @media only screen and (max-width: $mobile) {
      width: 25px;
      height: 25px;
    }
  }
}

.showcase__actions {
  display: flex;
  @media only screen and (max-width: $mobile) {
    flex-direction: column;
  }
  text-align: center;
  gap: 30px;
  align-items: center;
  margin-bottom: 30px;
}

.showcase__actions__action {
  display: block;
  // flex-grow: 0.5;
  color: $secondary-color;
  text-transform: none;
  flex: 1;
  h3 {
    font-size: 32px;
    padding-bottom: 60px;
    font-family: $p-font;
    @media only screen and (max-width: $mobile) {
      font-size: 20px;
      padding-bottom: 30px;
    }
  }
}

.showcase__actions__illustration--vertical {
  width: 256px;
  height: inherit;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: $mobile) {
    display: none;
  }
}

.showcase__actions__illustration--horizontal {
  margin-top: 60px;
  display: none;
  width: 100%;
  height: 50px;
  @media only screen and (max-width: $mobile) {
    display: flex;
    justify-content: center;
  }
}
