$primary-color: #424242;
$secondary-color: #E7E5D1;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: "Neue Plak";
    src: url("../assets/fonts/NeuePlakW01.otf") format("opentype");
}

@font-face {
    font-family: "NB International Mono";
    src: url("../assets/fonts/NBInternationalMonoWebfont.woff") format("woff");
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}
  
body {
    margin: 0px;
    padding: 0px;
    color: $primary-color;
    background-color: $secondary-color;
}

$mobile: 600px;

$desktop: 960px;

$heading-font: "Neue Plak";

$p-font: "Space Grotesk";

$sub-font: "Inter";

$link-font: "NB International Mono";

$desktop-padding: 8vw;

$mobile-padding: 10vw;

$desktop-stroke: 2px #424242 solid;

$mobile-stroke: 1px #424242 solid;

h1 {
    color: $primary-color;
    font-family: $heading-font;
    font-size: clamp(60px, 25vw, 300px);
}

h2 {
    color: $primary-color;
    font-family: $heading-font;
    font-size: clamp(48px, 12vw, 160px);
}

p {
    color: $primary-color;
    font-family: $p-font;
    font-size: 0.8rem;

    @media only screen and (min-width: $mobile) {
        font-size: 1.2rem;
    }
    @media only screen and (min-width: $desktop) {
        font-size: 1.5rem;
    }
}

