@import '../../styles/base.scss';

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    padding: 4rem 10vw;
    border-top: solid 1px $primary-color;
    border-bottom: solid 1px $primary-color;
    text-align: left;
    font-family: $p-font;

    .big-title {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 5.5rem;

        img {
            height: 100%;
            margin-right: -2.5rem;
        }

        h1 {
            font-size: 3.5rem;
            text-align: right;
            line-height: 80%;
        }
    }

    h2 {
        font-size: 0.8rem;
    }

    p {
        font-size: 0.8rem;
        margin-right: 0;
    }

    .text-title {
        display: flex;
        align-items: center;
        flex-direction: row;

        img {
            height: 20px;
            margin-right: 0.5rem;
        }
    }

    .text-block1, .text-block2 {
        width: 60vw;
    }

    .text-block2 {
        margin-left: auto;
        margin-right: 10vw;
    }

    .subtitle {
        margin-top: 2rem;
        margin-right: 10vw;
    }

    .testimony1, .testimony2 {
        margin-right: 10vw;
    }
}


@media only screen and (min-width: 640px) {

.grid {
    grid-template-columns: repeat(12, 1fr);
    padding: 7.5rem 8vw;
    grid-row-gap: 3.75rem;

    .big-title {
        grid-column-start: 1;
        grid-column-end: end;
        height: 13rem;

        img {
            margin-right: 0;
        }

        h1 {
            font-size: 7rem;
            line-height: 90%;
        }
    }

    h2, p {
        font-size: 1.5rem;
    }
    
    .text-block1 {
        grid-column-start: 2;
        grid-column-end: span 4; 
        width: auto;

        p {
            margin-top: 0.5rem;
        }

        .text-title {
            display: flex;
            align-items: center;
            flex-direction: row;

            img {
                height: 48px;
                margin-right: 2rem;
            }
        }
    }

    .text-block2 {
        grid-column-start: 8;
        grid-column-end: span 4; 
        width: auto;
        margin: 0;
    }

    #second-row {
        grid-row-start: 4;
    }

    .text-title {
        display: flex;
        align-items: center;
        flex-direction: row;

        img {
            height: 48px;
            margin-right: 2rem;
        }
    }

    .subtitle {
        grid-row-start: 6;
        grid-column-start: 2;
        grid-column-end: span 10;
        margin: 0;
    }

    .testimony1 {
        grid-row-start: 7;
        grid-column-start: 2;
        grid-column-end: span 4;
        margin: 0;
    }

    .testimony2 {
        grid-row-start: 7;
        grid-column-start: 8;
        grid-column-end: span 4;
        margin: 0;
    }
}
}

@media only screen and (min-width: 960px) {
    .grid {
        .big-title {
            height: 17rem;
    
            img {
                margin-right: 0;
            }
    
            h1 {
                font-size: 9rem;
                line-height: 90%;
            }
        }
    }
}

@media only screen and (min-width: 1250px) {
    .grid {
        .big-title {
            height: 20rem;
    
            img {
                margin-right: 0;
            }
    
            h1 {
                font-size: 11rem;
                line-height: 90%;
            }
        }
    }
}
