@import "../../styles/base.scss";

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  padding: 4rem 10vw;
  border-top: solid 1px $primary-color;
  border-bottom: solid 1px $primary-color;
  text-align: left;
  font-family: $p-font;
  background-repeat: repeat;
  background-image: url("../../assets/images/website_texture.png");
  overflow-x: hidden;
  .big-title {
    display: flex;
    align-items: center;
    flex-direction: row;

    .row {
      display: flex;
      align-items: center;
      flex-direction: row;

      .square {
        border: $primary-color solid 1px;
        height: 5.5vw;
        width: 5.5vw;
        margin: -0.5px;
      }
      .rect {
        display: flex;
        align-items: center;
        position: inherit;
        height: 5.4vw;
        width: 11.234vw;
      }

      .circle {
        border: $primary-color solid 1px;
        border-radius: 50%;
        background-color: #9bb7ff;
        height: 5.5vw;
        width: 5.5vw;
      }

      .oval {
        border: $primary-color solid 1px;
        background-color: #43a047;
        height: 5.5vw;
        width: 11vw;
        border-radius: 25%/50%;
      }

      .circle {
        animation-name: trans3;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-delay: 0;
        animation-direction: normal;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-play-state: running;
      }

      @keyframes trans3 {
        47% {
          border-radius: 100%;
        }
        67% {
          border-radius: 0%;
        }
        87% {
          border-radius: 100%;
        }
      }

      #oval1 {
        animation-name: trans2;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-delay: 0;
        animation-direction: normal;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-play-state: running;
      }

      @keyframes trans2 {
        33% {
          border-radius: 25%/50%;
        }
        43% {
          border-radius: 0%;
        }
        53% {
          border-radius: 25%/50%;
        }
      }

      #oval2 {
        animation-name: trans4;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-delay: 0;
        animation-direction: normal;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-play-state: running;
      }

      @keyframes trans4 {
        80% {
          border-radius: 25%/50%;
        }
        90% {
          border-radius: 0%;
        }
        100% {
          border-radius: 25%/50%;
        }
      }
    }

    h2 {
      text-align: right;
      margin-right: -8vw;
    }
  }

  h3 {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.8rem;
    margin-right: 0;
  }

  .text-title {
    display: flex;
    align-items: center;
    flex-direction: row;

    img {
      height: 20px;
      margin-right: 0.5rem;
    }
  }

  .text-block1,
  .text-block2 {
    width: 60vw;

    p {
      margin-top: 0.5rem;
    }
  }

  .text-block2 {
    margin-left: auto;
  }

  .subtitle {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: $mobile) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    padding: 7.5rem 8vw;
    grid-row-gap: 3.75rem;

    .big-title {
      grid-column-start: 1;
      grid-column-end: end;

      .row {
        .square {
          border: $primary-color solid 2px;
          margin: -1px;
        }

        .circle {
          border: $primary-color solid 2px;
          margin: -1px;
        }

        .oval {
          border: $primary-color solid 2px;
          margin: -1px 0px;
          border-radius: 25%/50%;
        }
      }
    }

    h3,
    p {
      font-size: 1.2rem;
    }

    .text-block1 {
      grid-column-start: 2;
      grid-column-end: span 4;
      width: auto;

      p {
        margin-top: 1rem;
      }

      .text-title {
        display: flex;
        align-items: center;
        flex-direction: row;

        img {
          height: 48px;
          margin-right: 2rem;
        }
      }
    }

    .text-block2 {
      grid-column-start: 8;
      grid-column-end: span 4;
      width: auto;
      margin: 0;

      p {
        margin-top: 1rem;
      }
    }

    .text-title {
      display: flex;
      align-items: center;
      flex-direction: row;

      img {
        height: 48px;
        margin-right: 2rem;
      }
    }

    .subtitle {
      grid-row-start: 5;
      grid-column-start: 2;
      grid-column-end: span 10;
      margin: 0;
    }

    .testimony1 {
      grid-row-start: 6;
      grid-column-start: 2;
      grid-column-end: span 4;
      margin: 0;
    }

    .testimony2 {
      grid-row-start: 6;
      grid-column-start: 8;
      grid-column-end: span 4;
      margin: 0;
    }
  }
}

@media only screen and (min-width: $desktop) {
  .grid {
    h3,
    p {
      font-size: 1.5rem;
    }
  }
}
