.shapes {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  .circle {
    border: $mobile-stroke;
    border-radius: 50%;
    background-color: #9BB7FF;
    height: 5vw;
    width: 5vw;
    margin-left: -0.5px;
    margin-right: -0.5px;

  }
  #circle1 {
    animation-name: trans1;
    animation-duration: 4s; 
    animation-timing-function: linear; 
    animation-delay: ;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  @keyframes trans1 {
    0% {
      border-radius: 100%;
    }
    25% {
      border-radius: 0%;
    }
    50% {
      border-radius: 0%;
    }
    75% {
      border-radius: 100%;
    }
  }
  #circle2 {
    animation-name: trans3;
    animation-duration: 4s; 
    animation-timing-function: linear; 
    animation-delay: 2s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  @keyframes trans3 {
    0% {
      border-radius: 100%;
    }
    25% {
      border-radius: 0%;
    }
    50% {
      border-radius: 0%;
    }
    75% {
      border-radius: 100%;
    }
  }
  .rect {
    height: 5vw;
    width: 10vw;
    border: black solid 1px;
  }
  .oval {
    border: $mobile-stroke;
    background-color: #43A047;
    height: 5vw;
    width: 10vw;
    margin-left: -0.25px;
    margin-right: -0.25px;
    border-radius: 25%/50%;
  }

  #oval1 {
    animation-name: trans2;
    animation-duration: 2s; 
    animation-timing-function: linear; 
    animation-delay: 0;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  @keyframes trans2 {
    80% {
      border-radius: 25%/50%;
    }

    90% {
      
    }
    100% {
      border-radius: 25%/50%;
    }
  }
  
  

  #oval2 {
    animation-name: trans4;
    animation-duration: 2s; 
    animation-timing-function: linear; 
    animation-delay: 0;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  @keyframes trans4 {
    0% {
      border-radius: 25%/50%;
    }
    25% {
      width: 5vw;
      border-radius: 100%;
    }
    50% {
      width: 5vw;
      padding-left: 5vw;
      border-radius: 100%;
    }
    75% {
      width: 5vw;
      padding-left: 0vw;
      border-radius: 100%;
    }
    100% {
      border-radius: 25%/50%;
      width: 10vw;
    }

  }
  
  .square {
    border: $mobile-stroke;
    height: 5vw;
    width: 5vw;
    margin-left: -0.25px;
    margin-right: -0.25px;
  }
}