@import "../../styles/base.scss";

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 7.2rem;
    background-color: #424242;
    overflow-y: scroll;

    .top-container {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;

        .modal-exit {

        }
        .middle-section {
            display: flex;
            flex-direction: row;

            .text-section {
                display: flex;
                flex-direction: column;
                width: 36vw;
                margin-left: 8vw;

                h3 {
                    font-size: 4rem;
                    font: $heading-font;
                    color: $secondary-color;
                    line-height: 0.8;
                }
                p {
                    color: $secondary-color;
                }
                .button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $accent-color-1;
                    width: 200px;
                    height: 50px;
                    border-radius: 100px;
                    border: $secondary-color 2px solid;

                    p {
                        color: black;
                    }
                }
            }

            
        }
    }

    
}